<%- include('partials/head')  %>
  <%- include('partials/navbar')  %>
  <form class="form-inline my-2 my-lg-0" action = "/searchuser" method = "get">
    <input class="form-control mr-sm-2" placeholder= "Search" type= "text" name = "usertag">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <%- include('partials/footer')  %>