<%- include('partials/head')  %>
  <%- include('partials/navbar')  %>
  <div class="container">
    <header>
      <h1><b>Welcome to SkillSync AI</b></h1>
      <br>
      <p>Interact with the chatbot based on your uploaded resume!</p>
      <p>This is a server-side application for a Chatbot Resume App. The app allows users to create profiles, upload resumes in PDF format, converts them to text, and allows other users to interact with a Chatbot that was created based on the users profile. Users can send messages to the chatbot, which responds based on the content of the uploaded resumes.</p>
  </header>
  </div>
  
  <%- include('partials/footer')  %>